.wp-block-site-logo a, .wp-block-site-logo img {
	border-radius: 0;
}

@media only screen and (min-width: 1024px) {
	.tax-product_cat .aligncenter {
		width: 90%;
		max-width: 1200px;
	}
}

.product-group {
	display: grid; 
	grid-template-columns: 100px 2.5fr 1fr; 
	grid-template-rows: auto auto auto 1fr; 
	gap: 0px 15px; 
	grid-template-areas: 
	  "image-holder title price"
	  "image-holder width quantity"
	  "image-holder height add-to-cart";
  }
  .image-holder {
	justify-self: center; 
	align-self: center; 
	grid-area: image-holder; 
  }
  .title { grid-area: title; }
  .price { grid-area: price; 
	justify-self: end; }
  .width { grid-area: width; }
  .quantity { grid-area: quantity; 
	justify-self: end; }
  .height { grid-area: height; }
  .add-to-cart { grid-area: add-to-cart; 
	justify-self: end; }

  /* Custom Styles */ 
  .product-group {
	border-bottom: solid 2px #000;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
  }
  .product-group input[type="radio"] {
	display: none;
  }  
      
  .product-group label {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	margin-bottom: 0;
  }    

  .product-group input[type="radio"]:checked + label {
	color: #fff;
	background-color: #000;
  }

  .product-group h2,
  .product-group ul,
  .product-group p {
	margin: 0;
	display: inline-block;
  }

  .product-group li {
	display: inline-block;
	padding-bottom: 0;
  }

  .woocommerce .product-group .loading button.button {
	background-color: #ccc;
  }

  .woocommerce .product-group button.clear-button {
	background-color: transparent;
	color: #000;
	border: 2px solid #000;
	margin: 0 20px 0 0;
	display: inline-block;

    border-radius: 4px;
    font-family: var(--global--font-primary);
    font-size: 1rem;
    font-weight: var(--global--headings-font-weight);
    line-height: 1.5;
    padding: 0.7rem 1rem;
  }

  .woocommerce .product-group button.clear-button::after {
	content: '';
	display: none;
  }

  .product-group .selected-product {
	font-size: 14px;
	font-weight: 400;
  }

  .product-group .type-title {
	position: relative;
	top: 4px;
  }

  .product-group h4 {
	margin: 0;
	font-weight: 600;
	font-size: 18px;
  }

  .product-group select {
	display: inline-block;
	width: 100px;
    padding: 0.8rem 1rem;
  }

  .category-notification {
	background-color: #000;
	border-radius: 4px;
	color: #fff;
	position: fixed;
	width: 400px;
	max-width: 100%;
	right: 50px;
	top: 50px;
	z-index: 2000;
  }

  .category-notification p {
	margin: 0;
	padding: 1rem;
	white-space: pre-wrap;
  }

  .add-to-cart .group-cart.button {
    padding: 1rem 2rem;
  }

  .product-group span.sale-price {
    font-weight: 200;
    color: #ccc;
    text-decoration: line-through;
    margin-right: 20px;
}

.product-details {
	font-size: 14px;
	font-weight: 400;
	padding: 15px 0 0 0;
}

@media only screen and (max-width: 767px) {
	.product-group {
		display: grid; 
		grid-template-columns: 1fr; 
		grid-template-rows: auto auto auto auto auto auto auto; 
		gap: 15px 15px; 
		grid-template-areas: 
		  "title"
		  "image-holder"
		  "width"
		  "height"
		  "price"
		  "quantity"
		  "add-to-cart";
	  }
	  .title,
	  .image-holder,
	  .width,
	  .height,
	  .price,
	  .quantity,
	  .add-to-cart {
		justify-self: center; 
		align-self: center;
	  }
}

