
@media only screen and (min-width: 1024px) {
	.tax-product_cat .aligncenter {
		width: 90%;
		max-width: 1200px;
	}
}

.product-group {  display: grid;
	grid-template-columns: 140px 50% 1fr;
	grid-template-rows: auto;
	gap: 20px 20px;
	grid-auto-flow: row;
	grid-template-areas:
	  "image-holder group-data group-actions";
  }
  
  .image-holder {  display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 0px 0px;
	grid-auto-flow: row;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-areas:
	  "image";
	grid-area: image-holder;
  }
  
  .image {
	justify-self: center;
	align-self: center;
	grid-area: image;
  }
  
  .group-data {  display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "group-title"
	  "width"
	  "height";
	grid-area: group-data;
  }
  
  .group-title {  display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 0px 0px;
	grid-auto-flow: row;
	justify-items: start;
	grid-template-areas:
	  ".";
	grid-area: group-title;
  }
  
  .width {  display: grid;
	grid-template-columns: 60px auto;
	grid-template-rows: auto;
	gap: 0px 10px;
	grid-auto-flow: row;
	justify-items: start;
	align-items: center;
	grid-template-areas:
	  "width-name widths";
	grid-area: width;
  }
  
  .width-name {
	justify-self: start;
	align-self: center;
	grid-area: width-name;
  }
  
  .widths {
	justify-self: start;
	align-self: center;
	grid-area: widths;
  }
  
  .height {  display: grid;
	grid-template-columns: 60px auto;
	grid-template-rows: auto;
	gap: 0px 10px;
	grid-auto-flow: row;
	grid-template-areas:
	  "height-name heights";
	grid-area: height;
  }
  
  .height-name {
	justify-self: start;
	align-self: center;
	grid-area: height-name;
  }
  
  .heights {
	justify-self: start;
	align-self: center;
	grid-area: heights;
  }
  
  .group-actions {  display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "price"
	  "quantity"
	  "add-to-cart";
	grid-area: group-actions;
  }
  
  .price {
	justify-self: end;
	align-self: center;
	grid-area: price;
  }
  
  .quantity {
	justify-self: end;
	align-self: center;
	grid-area: quantity;
  }
  
  .add-to-cart {
	justify-self: end;
	align-self: center;
	grid-area: add-to-cart;
  }
  
  
  /* Custom Styles */ 
  .product-group {
	border-bottom: solid 2px #000;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
  }
  .product-group input[type="radio"] {
	display: none;
  }  
      
  .product-group label {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
  }    

  .product-group input[type="radio"]:checked + label {
	color: #fff;
	background-color: #000;
  }

  .product-group p {
	margin-bottom: 0;
  }

  .product-group .group-data h2,
  .product-group .group-data ul {
	margin: 0;
  }

  .product-group .group-data li {
	display: inline-block;
	padding-bottom: 0;
  }

  .woocommerce .product-group .loading button.button {
	background-color: #ccc;
  }

  .woocommerce .product-group button.clear-button {
	background-color: transparent;
	color: #000;
	border: 2px solid #000;
	margin: 0 20px 0 0;
	display: inline-block;

    border-radius: 4px;
    font-family: var(--global--font-primary);
    font-size: 1rem;
    font-weight: var(--global--headings-font-weight);
    line-height: 1.5;
    padding: 0.7rem 1rem;
  }

  .woocommerce .product-group button.clear-button::after {
	content: '';
	display: none;
  }

  .product-group .selected-product {
	font-size: 14px;
	font-weight: 400;
  }

  .product-group .type-title {
	position: relative;
	top: 4px;
  }

  .product-group h4 {
	margin: 0;
  }

  .product-group select {
	display: inline-block;
	width: 100px;
    padding: 0.8rem 1rem;
  }

  .category-notification {
	background-color: #000;
	border-radius: 4px;
	color: #fff;
	position: fixed;
	width: 400px;
	max-width: 100%;
	right: 50px;
	top: 50px;
	z-index: 2000;
  }

  .category-notification p {
	margin-bottom: 0;
	padding: 1rem;
	white-space: pre-wrap;
  }

  .add-to-cart .group-cart.button {
    padding: 1rem 2rem;
  }
